name: Testing code

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  validate:
    name: testing code
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 14, 16, 18 ]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --immutable
      - run: yarn workspace storybook-addon-performance run build
      - run: yarn workspaces foreach -piv run test
        env:
          CI: true
