name: Validate code

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  validate:
    name: validate code
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16, 18]

    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: pnpm i --frozen-lockfile
      - run: pnpm validate
        env:
          CI: true
